<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Library Game</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <main>
            <table>
                <tr>
                    <th>Name</th>
                </tr>
            <% if(bookList != undefined) {%>
            <% for(let i in bookList){%>
                <tr>
                    <th>Name</th>
                    <th><%= i.name %></th>
                    <th><%= i.class %></th>
                    <th><%= i.requirements %></th>
                </tr>
                <% } } %>
            </table>
        </main>
    </body>
</html>
